$white: white;
$blue-sanmarino: #4066A5;
$dark-vulcan: #131821;
$gray-pale: #6A707B;
$light-lilac: #F2F5FA;
$fb-hover: #4267B2;
$fb-active: #2F4A80;
$insta-hover: #C13584;
$insta-active: #8F2762;
$tiwitter-hover: #1DA1F2;
$twitter-active: #177FBF;
$youtube-hover: #FF0000;
$youtube-active: #CC0000;
